


@media(min-width:576px){
    
    .numbers-item {
    border-left: 1px solid #fff;
    border-bottom: none;
}
    
    .numbers-item:last-of-type {
    border-right: 1px solid #fff;
}
.numbers-item:nth-child(3) {
    border-right: 1px solid #fff;
}


    .services-item:nth-child(n+5) {
        border-bottom: none !important;
    }
    .phone {
        bottom: -40px;
        right: -80px;
    }
    .team article .fa {
        height: 50px;
        width: 50px;
        font-size: 20px;
        line-height: 50px;
         }
          .quote-name {
        margin-left: 80px;
        position: relative;
    }
         .quote-name::before {
        top: 50%;
        left: -45px;
    }
}


@media(min-width:768px){

    .navbar-nav li {
        margin-left: 35px;
    }
    .navbar .header-icons .fa {
        margin-left: 25px;
    }
    .navbar-nav li {
    border-bottom: none;
}

    .lead {
        padding-top: 150px;
    }

    .creative-template {
        font-size: 50px;
    }
    .lead-text {
        font-size: 100px;
        line-height: 100px;
    }

    .header-container {
        max-width: 720px;
    }

    .hvr-underline-from-center {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -moz-transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 0px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
    }
    .hvr-underline-from-center:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 51%;
        right: 51%;
        bottom: 0;
        background: #FCE38A;
        height: 2px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
        left: 0;
        right: 0;
    }
    .services {
        padding: 100px 0;
    }
    .design-content {
        max-width: 40%;
    }
   
    
    .team article {
        max-width: 100%;
    }
    

}



@media(min-width:992px){

    .header-container {
        max-width: 960px;
    }
    
    .numbers-item:nth-child(3) {
    border-right: none;
}
    .services-item:nth-child(n+4) {
        border-bottom: none !important;
    }
    .phone {
        bottom: -40px;
        right: -100px;
    }
    .team article .fa {
        height: 56px;
        width: 56px;
        font-size: 25px;
        line-height: 56px;
    }

.quote-paragraph {
    font-size: 1.5rem;
}
}





@media(min-width:1200px){

    .header-container {
        max-width: 1212px !important;
    }

    .container {
        max-width: 1212px !important;
    }
    .phone {
        bottom: -50px;
        right: -130px;
    }
}

