@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Kaushan Script', cursive;
*/

/*GLOBAL START*/
html {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif !important;
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
}
.section-introduction {
    max-width: 950px;
    margin-bottom: 80px;
}
.section-header01 {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333333;
}
.section-header02 {
    text-transform: uppercase;
    font-size: 30px;
    color: #333333;
    font-weight: bold;
    position: relative;
    margin-bottom: 80px;
}
.section-header02::after {
    content: '';
    height: 3px;
    width: 60px;
    background-color: #F38181; 
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%, 0);
}
.article-header {
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
}
.paragraph-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #999999;
}
.quote-paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: #999999;
    font-weight: 300;
    font-style: italic;
}
.quote-name {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333333;
}
.quote-name::before {
    content: '';
    height: 3px;
    width: 60px;
    background-color: #F38181; 
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);
}
.footer-dark-text {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
}
.footer-light-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    font-size: 13px;
}
.w-20 {
    width: 20%;
}
.w-80 {
    width: 80%;
}
.w-33 {
    width: 33%;
}
.mb-100 {
    margin-bottom: 100px !important;
}
/*GLOBAL END*/
/*HEADER START*/
header {
    padding-top: 5px;
    transition: 0.3s linear;
}
.header-container {
    width: 90%;
    margin: 0 auto;
}
.custom-head-scrol {
    background: rgba(149, 225, 211, 0.9);
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
    padding-top: 0px;
}
.headerbg {
    background: #95E1D3;
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
    padding-top: 0px;
}
.navbar .navbar-brand {
    font-size: 30px;
    font-weight: bold;
}
/*CUSTOM TOGGLER START*/
.navbar-toggler .bar {
    height: 3px;
    width: 30px;
    background-color: #fff;
    display: block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    transition: 0.3s ease;
}
#bar1 {
    transform: translate(0, -4px);
}
#bar3 {
    transform: translate(0, 4px);
}
.change #bar1 {
    transform: translate(0, 4px) rotateZ(-45deg);
}
.change #bar3 {
    transform: translate(0, -2px) rotate(45deg);
}
.change #bar2 {
    opacity: 0;
}
.navbar-toggler {
    border: none;
}
button:focus {
    outline: none;
    outline: none;
}
/*CUSTOM TOGGLER END*/

.navbar-nav li {
    border-bottom: 1px solid #81d1c2;
}
.navbar-nav li a {
    color: #fff !important;
    transition: 0.3s linear;
}

.navbar-nav li a:hover {
    color: #FCE38A !important;
}

.navbar .header-icons .fa {
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
    margin: 0 10px;
}
.custom-active {
    color: #FCE38A !important;
}

/*HEADER END*/
/*LEAD SECTION START*/
.lead-section {
    padding-top: 130px;
    background-size: cover;
    background-position: center;
    padding-bottom: 0px;
}
.lead-content {
    max-width: 500px;
    margin-bottom: 120px;
}
.creative-template {
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 1px;
}
.lead-text {
    font-size: 60px;
    font-weight: bold;
    line-height: 55px;
}
.lead-line {
    height: 2px;
    width: 60px;
}
a.learn-more {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    border: 1.5px solid #fff;
    padding: 8px 30px;
}
/****  BUTTON EFFECT START  ****/
/*a.learn-more {
    width: 180px;
    height: 40px;
    line-height: 40px;
    padding: 8px 30px;
    text-decoration: none;
    position: relative;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
a svg,
a svg rect {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    fill: transparent;
    -moz-fill: transparent;
}

a svg rect {
    stroke: #fff;
    -webkit-stroke: #fff;
    stroke-width: 3px;
    -webkit-stroke-width: 3px;
    transition: 1s;
    stroke-dasharray: 500,500;
    -webkit-stroke-dasharray: 500,500;
    stroke-dashoffset: 0;
    -webkit-stroke-dashoffset: 0;
    
}

a:hover svg rect {
    stroke-dashoffset: 282;
    -webkit-stroke-dashoffset: 282;
    stroke-dasharray: 100, 400;
    -webkit-stroke-dasharray: 100, 400;
    stroke: #fff;
    -webkit-stroke: #fff;
}*/
/****  BUTTON EFFECT END  ****/
/****   PROGRESS LINES START  ****/
.progress-line01 {
    background-color: #fff;
    height: 2px;
    width: 100%;
}
.red-line01 {
    width: 25%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: red;
}
.progress-line02 {
    background-color: #fff;
    height: 2px;
    width: 100%;
}
.red-line02 {
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: red;
}
.progress-line03 {
    background-color: #fff;
    height: 2px;
    width: 100%;
}
.red-line03 {
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: red;
}
.progress-line04 {
    background-color: #fff;
    height: 2px;
    width: 100%;
}
.red-line04 {
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: red;
}
.prog-text {
    font-size: 20px;
}
.prog-text-nr {
    font-size: 24px;
    font-weight: bold;
}
/****   PROGRESS LINES END  ****/
/*LEAD SECTION END*/
/*ABOUT US START*/
.about-us {
    padding: 100px 0;
}
.about-us figure {
    overflow: hidden;
}
.about-us img {
    width: 100%;
    display: block;
}
.about-hover {
    background: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.2s linear;
}
.about-hover-text {
    font-size: 18px;
    font-weight: bold;
}
.super-team {
    position: relative;
    top: 50%;
    text-align: center;
    transform: translate(-0%, -50%);
}
.super-team a {
    text-decoration: none;
}
.super-team .fa {
    font-size: 25px;
}
.about-us figure {
    margin-bottom: 0 !important;
    transition: 0.3s linear;
}
.about-us figure:hover .about-hover {
    opacity: 100;
    display: block;
}
.about-us figure:hover {
    box-shadow: 5px 5px 10px #95E1D3;
}
/*ABOUT US END*/
/*NUMBERS START*/
.numbers {
    background-color: #95E1D3;
}
.numbers-item {
    padding: 60px 0px;
    border-bottom: 1px solid #fff;
    min-width: 130px;
}
.numbers-item:last-of-type {
    border-bottom: none;
}
.numbers-number {
    font-size: 72px;
    font-weight: bold;
    line-height: 80px;
    margin-bottom: 8px;
}
.numbers-text {
    font-size: 14px;
}
/*NUMBERS END*/
/*SERVICES START*/
.services {
    padding: 100px 0;
}
.services-item {
    border-bottom: 1px solid #E5E5E5;
}
.services .fa {
    font-size: 35px;
    color: #95E1D3;
}
/*SERVICES END*/
/*DESIGN START*/
.design {
    padding-top: 100px;
    background: center;
    background-size: cover;
}
.design-content {
    max-width: 60%;
}
.design-content img {
    width: 100%;
    display: block;
}
.phone {
    bottom: -28px;
    right: -50px;
    max-width: 50%;
}
/*DESIGN END*/
/*WHAT WE DO START*/
.whatwedo {
    padding: 100px 0;
}
.whatwedo  button .fa {
    color: #95E1D3;
}
.whatwedo h5 button {
    color: #333333 !important;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none !important;
    text-transform: uppercase;
}
/*WHAT WE DO END*/
/*JOHN DOE QUOTE SECTION START*/
.john-doe {
    background: #F8F8F8;
    padding: 70px 0;
}
.quote-paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #999999;
    font-weight: 300;
    font-style: italic;
}

/*JOHN DOE QUOTE SECTION END*/
/*TEAM START*/
.team {
    padding: 100px 0;
}
.team-hover {
    background: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.2s linear;
}
.team figure:hover .team-hover {
    opacity: 100;
}
.team figure {
    transition: 0.3s linear;
}
.team figure:hover{
    box-shadow: 5px 5px 10px #95E1D3;
}
.team h6 {
    color: #333333;
    font-size: 14px;
}
.team img {
    width: 100%;
}
.team article .social {
    position: relative;
    top: 50%;
    text-align: center;
    transform: translate(-0%, -50%);
}
.team article a{
    text-decoration: none;
}
.team article .fa {
    color: #F38181;
    height: 40px;
    width: 40px;
    background: #FCE38A;
    font-size: 20px;
    line-height: 40px;
    transition: 0.3s linear;
}
.team article .fa:hover {
    background: #F38181;
    color: #fff;
}
.team article {
    max-width: 80%;
}
/*TEAM END*/
/*BRANDS START*/
.brands {
    background: #F8F8F8;
    padding: 50px 0;
}
/*BRANDS END*/
/*WORK SECTION START*/
.work {
    padding-top: 100px;
}
.work figure {
    margin: 0 !important;
    position: relative;
}
.work .work-hover {
    background: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.35s linear;
}
.work .work-info {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
.work .work-hover .fa {
    color: #fff;
    font-size: 20px;
}
.work .work-hover p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
.work .work-hover .studio {
    color: #fff;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
}
.work figure:hover .work-hover {
    opacity: 100;
}
.work img {
    width: 100%;
}
/*WORK SECTION END*/
/*joshua quote start*/
.joshua-quote {
    padding: 100px 0;
}
.joshua-quote img {
    width: 230px;
    border-radius: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
}
/*joshua quote end*/
/*CLIENTS START*/
.clients {
    padding: 120px 0 100px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.clients img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
}
.client-job {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #333;
    font-style: italic;
    position: relative;
}
.client-job::after {
    content: '';
    content: '';
    height: 3px;
    width: 60px;
    background-color: #F38181; 
    position: absolute;
    bottom: -13px;
    left: 0;
}
.clients-item {
    max-width: 550px;
}
/*CLIENTS END*/
/*BLOG START*/
.blog {
    padding: 100px 0;
}
.blog img {
    width: 100%;
}
.blog figure {
    position: relative;
}

.blog .blogDate {
    position: absolute;
    left: -5%;
    bottom: 10px;
    background: #95E1D3;
    padding: 10px;
    text-align: center;
    transition: 0.35s ease-out;
}
.blog figure:hover  .blogDate {
    margin-bottom: 7px;
    background: #9cedde;
}
.blog .blogDay {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    line-height: 30px;
}
.blog .blogMonth {
    color: #fff;
    font-style: italic;
    font-weight: 300;
    font-size: 1rem;
}
.blog .fa {
    color: #95E1D3;
}
.blog a {
    text-decoration: none;
    color: #999999;
    transition: 0.15s linear;
}
.blog a:hover {
    color: #bcbcbc;
}
.blog-header {
    transition: 0.15s linear;
}
.blog-header:hover {
    color: #bcbcbc;
}
.blog .blog-text {
    text-decoration: none;
    line-height: 1.5rem;
    height: 3rem;
    overflow: hidden;
}
/*BLOG END*/
/*MAP START*/
.map-section {
    padding: 80px 0;
    background: fixed;
    background-position: center center;
    background-size: cover;
}
.map-link-wrap {
    width: 200px;
}
.map-section .fa {
    color: #F38181;
    font-size: 25px;
    display: block;
}
.map-section a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: #F38181;
    position: relative;
}
.map-section a::after {
    content: '';
    height: 3px;
    width: 60px;
    background-color: #F38181; 
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0);
}
/*MAP END*/
/*FOOTER START*/
footer {
    background: #F8F8F8;
    padding-top: 75px;
}
footer .footer-logo a {
    font-size: 46px;
    font-weight: bold;
    color: #CCCCCC;
    transition: 0.1s linear;
}
footer .footer-logo a:hover {
    color: #d3d3d3;
}
footer .followers {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}
footer .follow-us {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #999999;
}
.footer-social-content {
    height: 90px;
    overflow: hidden;
}
footer .footer-social ul li {
    margin-left: 15px;
}
footer .footer-social a{
    text-decoration: none;
}
footer .footer-social .fa {
    color: #95E1D3;
    -webkit-transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}
footer .footer-social .fa:hover {
    -webkit-transform: rotate(360deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    color: #7dc4b6;
}
footer .form-control {
    background: #fff;
    border: 1px solid #CCCCCC !important;
}
footer .form-control input {
    color: #333333;
}
footer .form-control::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #CCCCCC;
}
footer .form-control:focus {
    color: #495057;
    background-color: rgba(255,255,255,0.2) !important;
    border-color: #95E1D3;
    outline: 0;
    box-shadow: 0 0 3px #fff;
}
footer .footer-social form .btn {
    background: #95E1D3;
    border: none;
    padding: 10px 35px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    color: #fff;
    transition: 0.3s ease;
}
.input-group {
    max-width: 380px;
}
footer button:hover {
    background: #7dc4b6 !important;
}
.footer-blogs a {
    text-decoration: none;
    color: #333333;
    transition: 0.15s linear;
}
.footer-blogs a:hover {
    color: #969696;
}
.insta-pics-wrap {
    max-width: 264px;
}
.insta-pics-wrap figure {
    margin: 2px;
    overflow: hidden;
}
.insta-pics-wrap figure img {
    transition: 0.35s linear;
}
.insta-pics-wrap figure:hover img {
    transform: scale(1.1);
}
.footer-instagram .view-more-photos {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #333333;
    font-size: 13px;
}
.copyright .copy-text {
    font-size: 14px;
    color: #333333;
    font-weight: bold;
}
.copyright a {
    text-decoration: none;
    color: #F38181;
    font-size: 14px;
    font-weight: bold;

}
/*FOOTER END*/

